<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.library.customerMapper">
        <select id="selectAll" resultType="CustomerDto">
                select cust_no, cust_name, phone, join_date, cust_email, grade
                from customer
        </select>

        <select id="selectId" parameterType="int" resultType="CustomerDto">
                select cust_no, cust_name, phone, join_date, cust_email, grade
                from customer
                where cust_no=#{id}
        </select>

        <delete id="deleteAll">
                delete
                from customer
        </delete>
        
        <delete id="deleteId" parameterType="int">
                delete
                from customer
                where cust_no=#{id}
        </delete>

        <insert id="insertCuntomer" parameterType="CustomerDto">
                insert into customer
                values (#{cust_no}, #{cust_name},#{phone},#{join_date},#{cust_email},#{grade})
        </insert>

        <update id="updateCustomer" parameterType="CustomerDto">
                update customer
                set cust_name = #{cust_name},
                    phone = #{phone},
                    cust_email = #{cust_email},
                    cust_name = #{#cust_name},
                    grade = #{grade}
                where cust_no = #{cust_no}
        </update>
        
</mapper>
