<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.library.rentMapper">
        <select id="selectAll" resultType="rentDto">
                select cust_no, rent_no, book_code, rent_price, rent_date
                from rent
        </select>
</mapper>
